#stylelogin{
	background-image: url('../images/homepage_carousel.png');
	/*opacity: 0.5;*/
	margin-top: 50px;
}
.data{
	opacity: 1;
	margin: 150px;
	background: orange;
	width: 40%;
	text-align: center;
}
#label{
	width: 150px;
	display: inline-block;
}
#input, #pass1, #pass2{
	width: 50%;
}
#inputemail{
	width: 50%;
}
