#stylelogin{
	background-image: url('../images/homepage_carousel.png');
	opacity: 0.5;
	margin-top: 50px;
}
.data{
	opacity: 1;
}
#label{
	width: 150px;
	display: inline-block;
}
#input, #pass1, #pass2{
	width: 250px;
}
#inputemail{
	width: 250px;
}
.data{
	margin: 150px;
}
