<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>myEdumap</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
	<link rel="icon" type="icon" href="../static/images/icon.png">
</head>
<body>
	<div class="header">
		<div class="space">
			<img src="../static/images/simeon.jpg" width="70"  style="border-radius: 50%;" >
			<h3>welcome back: {{ mymail }}</h3>
		</div>
		<div class="aside">
			<a id="link" href="index.html">home</a>
			<a href="login.html">| logout</a>
		</div>
	</div>
	<!-- <div> -->
		<div class="courseSelectDiv" style="min-height: 0px;">
		<div id="save email" style="display: none;">{{ mymail }}</div>
		<input type="search" name="courseSearch" id="courseSelect" placeholder="find a course"><button onclick="searchCourse()">search</button>
		</div>
		
		{% block course %}
		{% endblock %}
	<!-- </div> -->
	<div class="footer"></div>
	<script type="text/javascript" src="../static/js/dashboard.js"></script>
</body>
</html>